<div class="login-container">
  <div class="title-container">
    <h1>{{ 'title' | translate }}</h1>
    <p>{{ 'subtitle' | translate }}</p>
  </div>

  <div class="language-select-container">
    <select id="language-select" [(ngModel)]="currentLanguage" (change)="changeLanguage($event)" class="language-select">
      <option *ngFor="let lang of languages" [value]="lang.code">
        {{ lang.label }}
      </option>
    </select>
  </div>

  <div>
    <img src="images/background.png" alt="Background" class="background-image" />
  </div>

  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onLogin()">
      <div class="input-group">
        <label for="username">
          <i class="fa fa-user"></i> {{ 'username' | translate }}
        </label>
        <input type="text" id="username" formControlName="username" placeholder="{{ 'username' | translate }}" required/>
        <div *ngIf="form.get('username')?.invalid && form.get('username')?.touched" class="error-message">
          <small *ngIf="username.errors?.['required']">{{ 'usernameRequired' | translate }}</small>
        </div>
      </div>

      <div class="input-group">
        <label for="password">
          <i class="fa fa-lock"></i> {{ 'password' | translate }}
        </label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="{{ 'password' | translate }}"
          required
        />
        <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="error-message">
          <small *ngIf="password.errors?.['required']">{{ 'passwordRequired' | translate }}</small>
        </div>
      </div>

      <div class="buttons">
        <button type="submit" class="get-started" [disabled]="isSubmitting">{{ 'getStarted' | translate }}</button>
        <button type="button" class="cancel" routerLink="/home">{{ 'cancel' | translate }}</button>
      </div>



      <div class="sign-up-container">
        <p class="sign-up-link">
          <a [routerLink]="['/register']">{{ 'signUp' | translate }}</a>
        </p>
      </div>
    </form>

    <div *ngIf="invalidErrorMessage" class="invalid-error-message">
      {{ invalidErrorMessage }}
    </div>
  </div>

</div>
