<div class="landing-container">

  <div class="left-panel">
    <div class="title-container">
      <h1>BeautyPoint</h1>
      <p>Salon & Shop</p>
    </div>
    <div class="buttons">
      <a routerLink="/login">
        <button type="button" class="login">Login</button>
      </a>
      <a routerLink="/register">
        <button type="button" class="signup">Sign Up</button>
      </a>
    </div>
  </div>

  <div class="right-panel">
    <img src="images/background.png" alt="Background" class="background-image" />
    <img src="images/woman-outline.png" alt="Woman Outline" class="overlay-image" />
  </div>

</div>
