<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BeautyPoint - Price List</title>

</head>
<body>
<header class="header">
  <h1 class="logo">Beauty<span>Point</span></h1>
  <h2 class="sub-title">Hair Treatment</h2>
  <h2 class="price-title">Price List</h2>
</header>

<main class="price-list">
  <table>
    <tr>
      <th></th>
      <th>Short length</th>
      <th>Medium length</th>
      <th>Long length</th>
    </tr>
    <tr>
      <td>Washing and blow-drying</td>
      <td>15 BAM</td>
      <td>20 BAM</td>
      <td>25 BAM</td>
    </tr>
    <tr>
      <td>Hair cutting</td>
      <td>20 BAM</td>
      <td>25 BAM</td>
      <td>30 BAM</td>
    </tr>
    <tr>
      <td>Hair dyeing </td>
      <td>30 BAM</td>
      <td>45 BAM</td>
      <td>60 BAM</td>
    </tr>
    <tr>
      <td>Highlights</td>
      <td>40 BAM</td>
      <td>70 BAM</td>
      <td>120 BAM</td>
    </tr>
    <tr>
      <td>Keratin treatment</td>
      <td>80 BAM</td>
      <td>120 BAM</td>
      <td>160 BAM</td>
    </tr>
    <tr>
      <td>Hairstyling</td>
      <td>20 BAM</td>
      <td>30 BAM</td>
      <td>40 BAM</td>
    </tr>
  </table>
</main>

<footer class="footer">
  <button class="btn reserve-btn">Make a reservation</button>
  <button class="btn back-btn" routerLink="/appointment">Back</button>
</footer>
</body>
</html>
