.modal {
  position: relative;
  padding: 15%;
  border-radius: 10px;
  background: #f5c6c6;
  width: auto;
  margin: 0;
  height: auto;
}

h2{
  margin-top:0;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: #5a2424;
  padding: 1%;
  transition: transform 0.2s ease, color 0.2s ease;
}

.close-btn:hover {
  color: #dc8080;
  transform: scale(1.2);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input,
textarea,
select {
  width: 100%;
  padding: 2%;
  border: 1px solid #a87c7c;
  border-radius: 5px;
  background: #fff;
}

button[type="submit"] {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #d88c8c;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button[type="submit"]:hover {
  background: #c06f6f;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.success {
  color: green;
  font-size: 1em;
  margin-top: 10px;
}



