<body>
<div class="background-image">
  <img src="images/background.png" alt="Background">
</div>

<aside class="sidebar">
  <h1 class="logo">BeautyPoint <br> <span>Appointments</span></h1>
  <ul class="nav-links">
    <li><a href="#">Shop</a></li>
    <li><a href="#">Favourites</a></li>
    <li><a href="#">Shopping cart</a></li>
    <li><a href="#">My profile</a></li>
    <li><a href="#" routerLink="/about">About us</a></li>
  </ul>
  <div class="sidebar-art">
    <img src="images/woman-outline.png" alt="Art" />
  </div>
</aside>

<main>
  <section class="categories">
    <div class="category circle top-right" routerLink="/body-treatment">
      <div class="circle-content">
        <img src="images/body-treatment.png" alt="Body Treatment" class="product-img img1">

      </div>
      <h2>Body Treatment</h2>
    </div>

    <div class="category circle center-left" routerLink="/skin-treatment">
      <div class="circle-content">
        <img src="images/skin-treatment.png" alt="Skin Treatment" class="product-img img1">

      </div>
      <h2>Skin Treatment</h2>
    </div>

    <div class="category circle bottom-right" routerLink="/hair-treatment">
      <div class="circle-content">
        <img src="images/hair-treatment.png" alt="Hair Treatment" class="product-img img1" >

      </div>
      <h2>Hair Treatment</h2>
    </div>
  </section>

  <button class="back-btn" routerLink="/intro-page">Back</button>
</main>
</body>
