h2[mat-dialog-title] {
  font-size: 1.5rem;
  font-weight: bold;
  color: #5a2424;
  margin-bottom: 10px;
  text-align: center;
}

mat-dialog-content {
  font-size: 1.1rem;
  color: #5a2424;
  text-align: center;
  margin-bottom: 15px;
}

mat-dialog-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
}

button[mat-button] {
  background-color: #f4d8d8;
  color: #5a2424;
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

button[mat-button]:hover {
  background-color: #e3bebe;
  transform: scale(1.1);
}

button[color="warn"] {
  background-color: #dc8080;
  color: white;
}

button[color="warn"]:hover {
  background-color: #c66;
}
