
<div class="body">
  <div class="title-section">
    <h1>BeautyPoint</h1>
    <p>Salon & Shop</p>
  </div>

  <div>
    <img src="images/background2.png" alt="Background" class="background-image" />
  </div>

  <div class="content-container">
    <div class="buttons">
      <button class="btn shop-btn" routerLink="/product-category">Shop Now</button>
      <button class="btn appointment-btn" routerLink="/appointment">Make an Appointment</button>
    </div>
    <button class="btn back-btn" routerLink="/">Back</button>
  </div>
</div>

